.feeform-container {
    padding: 15px;
    border: 2px solid #1e90ff;
    border-radius: 8px;
   margin-top: 15px;
    max-width: 370px;
    margin-left: 10px;
    background-color: white;


 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .feeform-title {
    color: #0056b3;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: -5px;

  }

  .feeform-label {

    font-size: 18px;
  }


  .feeform-input {
    width: 250px; /* Fixed width */
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #1e90ff; /* Gray border */
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark text */
    /* Remove flex: 1 to prevent auto-expansion */
    margin-bottom: 10px;
  }
  
  .feeform-input:focus {
    outline: none;
    border-color: #1e90ff; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Blue shadow */
  }

  .feeform-input-date {
    width: 120px; /* Fixed width */
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #1e90ff; /* Gray border */
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark text */
    /* Remove flex: 1 to prevent auto-expansion */
    margin-bottom: 10px;
  }
  
  .feeform-input-date:focus {
    outline: none;
    border-color: #1e90ff; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Blue shadow */
  }

  .feeform-submit {
    background-color: #1e90ff;;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .feeform-submit:hover {
    background-color: #0056b3;
  }

  .feeform-cancel {
    background-color: #1e90ff;;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
  }
  
  .feeform-cancel:hover {
    background-color:tomato;
  }


  .feeform-select {
   
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
   border-color:#007bff;
   margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  /* Hover effect */
  .feeform-select:hover {
    border-color: #007bff;
  }
  
  /* Focus effect */
  .feeform-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
